main {
    height: 95vh;
}

.img-container {
    max-width: 600px;
}
.img-container img {
    max-height: 350px;
}

.left-arrow, 
.right-arrow {
    font-size: 25px;
    cursor: pointer;
}

.item {
    display: none;
}
.item.active {
    display: block;
}